.product-title {
  text-align: center;
  margin: 2rem;
}
.list-style {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(6, 1fr);
  padding: 0.25rem;
}
.price {
  color: blue;
}
