.product-details {
  display: block;
  text-align: center;
}
.product-description {
  text-align: unset;
}
.btn-add {
  background-color: maroon;
  margin: 2rem;
  color: azure;
  text-align: center;
  display: inline;
  border-radius: 12px;
}
.title-item {
  color: steelblue;
}
