.product-details {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
.product-description {
  flex-wrap: initial;
  text-align: center;
}
.btn-add {
  box-sizing: border-box;
  background-color: maroon;
  margin: 2rem;
  color: azure;
  text-align: center;
  display: inline;
  border-radius: 12px;
  margin-bottom: 100px;
}
.btn-isadd {
  box-sizing: border-box;
  background-color: forestgreen;
  margin: 2rem;
  color: azure;
  text-align: center;
  display: inline;
  border-radius: 12px;
  margin-bottom: 100px;
}
.title-item {
  color: steelblue;
}
